@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Users" class="btn btn-primary">Users</a>
    <a asp-controller="Home" asp-action="AddUser" class="btn btn-primary">Add user</a>
</div>
<div class="text-center">
    <h1 class="display-4">Karas</h1>
    <a asp-controller="Home" asp-action="Users" class="btn btn-primary">Users</a>
    <a asp-controller="Home" asp-action="AddUser" class="btn btn-primary">Add user</a>
</div>